@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  font-family: 'Alegreya';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}